#af-style-thumbnail {
  width: 100px;
  height: 100px;
  border-radius:50%
}

#af-style-selector {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 1fr);

}

#af-main-image {
  width: 30%;
  height: 30%;

}

.rr-row-container {
  display: flex;
  flex-direction: row;
}

.rr-column-container {
  display: flex;
  flex-direction: column;
}

.rr-thumbnail {
  width: 100px;
  height: 100px;
}