#app {
  width: 80%;
  margin: auto;
  max-width: 960px;
}

/* // ANTEO // */

#af-style-thumbnail {
  width: 50px;
  height: 50px;
  border-radius:50%
}

#af-style-selector {
  display: grid;
  width: 50px;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

#af-style-thumbnail-selected {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius:50%;
  background-image: url('./checkmark.png');
  background-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1
}

/* #af-front-page-container {

} */

#af-main-image {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

#af-main-image-expanded {
  width: 100%;
  height: 100%;
  object-fit: none;
  cursor: crosshair;


}

/* #af-main-image-expanded:hover {
  transform: translateX(10%) translateY(10%);
  transition-duration: 1s
} */

/* #af-nameless {
  display: inline-block
} */

#af-overview-container {
  /* position: absolute; */
  display: inline;

}

#af-front-page-container {
  /* display: inline-block;
  width: 100%; */
}

 #af-landing-box {
   /* position: relative;
   display: inline;
   width: 500px; */
}

#af-image-container {
  background-color: grey;
  cursor: zoom-in;
  margin-right: 1px;
  position:absolute;
  /* display:inline; */
  height: 500px;
  width: 500px;
  text-align:center;
  border:1px solid black;
  transition-duration: 1s;
  z-index: 2;
  /* overflow: hidden; */
  /* white-space: nowrap; */

}

/* -webkit-transform { 'translate3d(' + -offset + 'px,0,0)',
      'transform': 'translate3d(' + -offset + 'px,0,0)'
} */

#af-thumbnail-carousel-box {
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  float: left;
  /* width: 100px; */
  height: 440px;
  overflow: scroll;
  z-index: 3;
  transition-duration: 1s;
}

#af-thumbnail-carousel-box::-webkit-scrollbar {
  width: 0px
}

#af-thumbnail-carousel-mini-box {
  margin-left: 250px;
  margin-top: 450px;
  position: absolute;
  width: 500px;
  height: 0px;
  overflow: hidden;
  z-index: 3;
  transition-duration: 1s;
}

#af-thumbnail-carousel {

  display: grid;
  width: 50px;
  grid-gap: 15px;
  grid-template-columns: repeat(1, 1fr);
  z-index: 1;
}

#af-thumbnail-carousel-mini {

  display: grid;
  width: 50px;
  grid-gap: 15px;
  grid-template-columns: repeat(100, 1fr);
  z-index: 1;
}

#af-thumbnail-carousel-image {
  width: 50px;
  height: 50px;
}

#af-thumbnail-carousel-mini-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#af-thumbnail-carousel-image-box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

    #af-thumbnail-carousel-image-box-selected {
      width: 50px;
      height: 50px;
      border: 1px solid black;
      border-bottom: 5px solid red;
    }

#af-thumbnail-carousel-mini-image-box {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
}

    #af-thumbnail-carousel-mini-image-box-selected {
      width: 25px;
      height: 25px;
      border: 2px solid red;
      border-radius: 50%;
    }

#af-thumbnail-arrow-down {
  width: 15px;
  height: 15Px;
  content: url('./images/af-thumbnail-arrows/down-arrow-icon.png')
}

#af-thumbnail-arrow-up {
  width: 15px;
  height: 15Px;
  content: url('./images/af-thumbnail-arrows/up-arrow-icon.png')
}

#af-thumbnail-arrow-placeholder {
  width: 15px;
  height: 15Px;
}

#af-right-side {
  width: 300px;
  /* position: relative; */
  float: right;
  /* display: inline-block; */
  /* overflow: hidden; */
  margin-right: 10px;
  /* box-sizing: border-box;
  z-index: 0 */
}

#af-image-prev {
  content: url('./images/image-gallery/arrow-thin-left.png');
  position:absolute;
    bottom:10px;
    left:10px;
    width:30px;
    height:30px;
    cursor: default;
}

#af-image-next {
  content: url('./images/image-gallery/arrow-thin-right.png');
  position:absolute;
    bottom:10px;
    right:10px;
    width:30px;
    height:30px;
    cursor: default;


}


#af-image-expand {
  position:absolute;
    top:10px;
    right:10px;
    width:30px;
    height:30px;
    content: url('./images/image-gallery/square-target.png');
}

/* // */

#af-product-description {
  margin-top: 150px;
  height: 25px;
  padding: 10px;
  border: 1px solid black;
  float: left;
}

#af-strikethrough {
  text-decoration: line-through;
}

#af-fb-share {
  content: url('./images/facebook-share.png');
  width: 10%;
  height: 10%;

}

#af-twitter-share {
  content: url('./images/twitter-share.png');
  width: 10%;
  height: 10%;

}

#af-pinterest-share {
  content: url('./images/pinterest-share.png');
  width: 10%;
  height: 10%;

}

#af-stars {
  margin: auto;
  float: left
}

#af-full-star {
  width: 30px;
  height: 30px;
  float: left;
  content: url('./images/stars/FullStar-01.png')

}

#af-three-quarter-star {
  width: 30px;
  height: 30px;
  float: left;
  content: url('./images/stars/ThreeQuarterStar-01.png')

}

#af-half-star {
  width: 30px;
  height: 30px;
  float: left;
  content: url('./images/stars/HalfStar-01.png')

}

#af-quarter-star {
  width: 30px;
  height: 30px;
  float: left;
  content: url('./images/stars/QuarterStar-01.png')

}



/* // */


.rr-row-container {
  display: flex;
  flex-direction: row;
}

.rr-column-container {
  display: flex;
  flex-direction: column;
}

.rr-thumbnail {
  width: 100px;
  height: 100px;

}

.qaList {
  height: 250px;
  overflow: scroll;
}


.qModal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.modal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}
@supports (offset-rotation: 0deg) {
  offset-rotation: 0deg;
  offset-path: path("M 250,100 S -300,500 -700,-200");
  .modal.off {
    offset-distance: 100%;
  }
}
@media (prefers-reduced-motion) {
  .modal {
    offset-path: none;
  }
}
.qModal {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}
.qModal .qContent {
  padding: 1rem;
}
.qModal .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}
.qModal .qaModalToggle button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.questionBody {
  font-weight: bold;
}

.lma {
  padding-left: 20px;
}

.lmalink {
  font-weight: bold;
}

.maq_hide {
  display: none;
}

.tv_anc {
  font-weight: normal;
}

.tv_underline {
  text-decoration: underline;
}


